OWNER_ID=1158654757183959091
# SETTINGS
DISCORD_BOT_NAME=
DISCORD_BOT_DESCRIPTION=
DISCORD_BOT_TOKEN=
DISCORD_BOT_CLIENT_ID=

DISCORD_BOT_STATUS=
DISCORD_BOT_ACTIVITY=

# DATABASE (MYSQL)
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=


WEBHOOK_GUILD_INVITE="https://discord.com/api/webhooks/CHANNEL/TOKEN"
WEBHOOK_ERROR_LOGS="https://discord.com/api/webhooks/CHANNEL/TOKEN"